.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.extra-margin-left {
  margin-left: calc(var(--ring-unit));
}

.extra-margin-right {
  margin-right: calc(var(--ring-unit));
}

.settings {
  margin: calc(var(--ring-unit) / 2);
}

div.dep-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: left;
  width: 100%;
}

span.dep-toolbar-right {
  margin-left: auto;
}

div.vertical-size-control-bar {
  margin-top: calc(var(--ring-unit) / 2);
  display: flex;
  justify-content: center;
  gap: calc(var(--ring-unit));
}

.vis-time-axis .vis-grid.vis-odd {
  background: #edf3ff; /* --ring-hover-background-color */
}

.vis-item {
  border-color: #6c707e !important; /* --ring-secondary-color */
}
.vis-item .vis-item-overflow {
  overflow: visible !important;
}
.vis-item.overdue {
  box-shadow: 0 0 4px #a46704;
}
.vis-item.vis-selected {
  border-color: #27282e !important; /* --ring-text-color */
  box-shadow: 0 0 6px gray;
}

/* Style navigation controls to look OK in dark mode as well. */
div.vis-timeline {
  background-color: white;
  border-radius: var(--ring-border-radius);
  border: 1px solid var(--ring-borders-color);
}

div.dep-timeline {
  margin-top: calc(var(--ring-unit) / 2);
  margin-bottom: calc(var(--ring-unit) / 2);
}

div.dep-graph {
  margin-top: calc(var(--ring-unit) / 2);
  margin-bottom: calc(var(--ring-unit) / 2);
}

/* Style navigation controls to look OK in dark mode as well. */
div.vis-network {
  background-color: white;
  border-radius: var(--ring-border-radius);
  border: 1px solid var(--ring-borders-color);
}

div.vis-network div.vis-navigation div.vis-button.vis-up,
div.vis-network div.vis-navigation div.vis-button.vis-down,
div.vis-network div.vis-navigation div.vis-button.vis-left,
div.vis-network div.vis-navigation div.vis-button.vis-right,
div.vis-network div.vis-navigation div.vis-button.vis-zoomIn,
div.vis-network div.vis-navigation div.vis-button.vis-zoomOut,
div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.vis-network div.vis-navigation div.vis-button:hover {
  box-shadow: none !important;
}

.vis-button:after {
  font-size: 2em;
  color: #878787;
}

.vis-button:hover:after {
  font-size: 2em;
  color: #bababa;
}

.vis-button.vis-up:after {
  content: "🡅";
}

.vis-button.vis-down:after {
  content: "🡇";
}

.vis-button.vis-left:after {
  content: "🡄";
}

.vis-button.vis-right:after {
  content: "🡆";
}

.vis-button.vis-zoomIn:after {
  content: "+";
  font-weight: bold;
}

.vis-button.vis-zoomOut:after {
  content: "−";
  font-weight: bold;
}

.vis-button.vis-zoomExtends:after {
  content: "⛶";
  font-weight: bold;
}
