.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.extra-margin-left {
  margin-left: calc(var(--ring-unit));
}

.settings {
  margin: calc(var(--ring-unit) / 2);
}
